// Global demo styles
// ---------------------------------------

body {
  background-color: $sassline-backgroundColour;
  color: $sassline-bodyColour;
  overflow-x: hidden;
}

.section {
  padding: 2rem 0;

  @include sassline-breakpoint(break-1) {
    padding: 3rem 0;
  }

  @include sassline-breakpoint(break-2) {
    padding: 4rem 0;
  }
}

img {
  -ms-interpolation-mode: bicubic;

  height: auto;
  vertical-align: middle;
  width: 100%;

  @include sassline-breakpoint(break-1) {
    margin: 0 auto;
    max-width: 100%;
    width: auto;
  }
}

.button-align {
  @include sassline-baseline(zeta, $sassline-bodytype, 2, 2, all);
}
