// Layouts
// ---------------------------------------

// Container.
.section {
  margin: 0 auto;
  position: relative;
  width: 94%;
  @include sassline-clearfix;

  @include sassline-breakpoint(break-3) {
    @include sassline-maxwidth($sassline-max-widths, 3);
  }

  @include sassline-breakpoint(break-4) {
    @include sassline-maxwidth($sassline-max-widths, 4);
  }
}

// Single column (based on measure for typeset content).
.single-measure {
  margin: 0 auto;
  @include sassline-maxwidth($sassline-line-widths, all);
}

// Base column styles.
.column {
  margin: 0 auto;
  width: 100%;
  @include sassline-maxwidth($sassline-line-widths, 0);

  @include sassline-breakpoint(break-1) {
    float: left;
    margin: inherit;
    max-width: auto;
    padding-left: map-get($sassline-gutterwidths, small);
    padding-right: map-get($sassline-gutterwidths, small);
  }

  @include sassline-breakpoint(break-3) {
    padding-left: map-get($sassline-gutterwidths, medium);
    padding-right: map-get($sassline-gutterwidths, medium);
  }
}

// Two columns.
.column--duo {
  @include sassline-breakpoint(break-1) {
    width: 50%;
  }
}

// Three columns.
.column--trio {
  @include sassline-breakpoint(break-1) {
    width: 33.333%;
  }
}

// Four columns. Two at smaller breakpoints.
.column--quad {
  @include sassline-breakpoint(break-1) {
    width: 50%;
  }

  @include sassline-breakpoint(break-2) {
    width: 25%;
  }
}

// Two column layout with a main text column and a sidebar.

// Main column.
.column--main {
  @include sassline-breakpoint(break-1) {
    @include sassline-ideal-measure(1, small);
  }

  @include sassline-breakpoint(break-2) {
    @include sassline-ideal-measure(2, small);
  }

  @include sassline-breakpoint(break-3) {
    @include sassline-ideal-measure(3, medium);
  }

  @include sassline-breakpoint(break-4) {
    @include sassline-ideal-measure(4, medium);
  }
}

// Sidebar.
.column--sidebar {
  @include sassline-breakpoint(break-1) {
    padding-right: map-get($sassline-gutterwidths, medium);
    @include sassline-ideal-measure(1, small, false);
  }

  @include sassline-breakpoint(break-2) {
    @include sassline-ideal-measure(2, small, false);
  }

  @include sassline-breakpoint(break-3) {
    padding-right: map-get($sassline-gutterwidths, large);
    @include sassline-ideal-measure(3, medium, false);
  }

  @include sassline-breakpoint(break-4) {
    @include sassline-ideal-measure(4, medium, false);
  }
}

// If sidebar on the right side.
.column--main + .column--sidebar {
  @include sassline-breakpoint(break-1) {
    padding-left: map-get($sassline-gutterwidths, medium);
    padding-right: map-get($sassline-gutterwidths, small);
  }

  @include sassline-breakpoint(break-3) {
    padding-left: map-get($sassline-gutterwidths, large);
    padding-right: map-get($sassline-gutterwidths, medium);
  }
}

// Set the main text one level down in the modular scale for narrower columns.
.column--trio,
.column--quad,
.column--sidebar {
  @include sassline-breakpoint(break-3) {
    p {
      @include sassline($fontsize: eta, $font: $sassline-bodytype, $lineheight: 2, $below: 2, $breakpoint: 3);
    }

    li {
      @include sassline-fontsize(eta, 3);
    }
  }

  @include sassline-breakpoint(break-4) {
    p {
      @include sassline($fontsize: eta, $font: $sassline-bodytype, $lineheight: 2, $below: 2, $breakpoint: 4);
    }

    li {
      @include sassline-fontsize(eta, 4);
    }
  }
}

// Main column on the right with inline sidenotes.
// The sidenotes will move out the column into the sidebar position aligned to the baseline.
.column--right {
  @include sassline-breakpoint(break-1) {
    @include sassline-ideal-measure(1, small);
    @include sassline-ideal-measure(1, small, false, margin-left);
  }

  @include sassline-breakpoint(break-2) {
    @include sassline-ideal-measure(2, small);
    @include sassline-ideal-measure(2, small, false, margin-left);
  }

  @include sassline-breakpoint(break-3) {
    @include sassline-ideal-measure(3, medium);
    @include sassline-ideal-measure(3, medium, false, margin-left);
  }

  @include sassline-breakpoint(break-4) {
    @include sassline-ideal-measure(4, medium);
    @include sassline-ideal-measure(4, medium, false, margin-left);
  }

  .sidenote {
    @include sassline-breakpoint(break-1) {
      left: 0;
      padding-left: map-get($sassline-gutterwidths, small);
      padding-right: map-get($sassline-gutterwidths, medium);
      position: absolute;
      @include sassline-ideal-measure(1, small, false);
    }

    @include sassline-breakpoint(break-2) {
      @include sassline-ideal-measure(2, small, false);
    }

    @include sassline-breakpoint(break-3) {
      padding-right: map-get($sassline-gutterwidths, large);
      @include sassline-ideal-measure(3, medium, false);
    }

    @include sassline-breakpoint(break-4) {
      padding-left: map-get($sassline-gutterwidths, medium);
      @include sassline-ideal-measure(4, medium, false);
    }
  }
}

// Main column on the left with inline sidenotes.
.column--left {
  @include sassline-breakpoint(break-1) {
    @include sassline-ideal-measure(1, small);
  }

  @include sassline-breakpoint(break-2) {
    @include sassline-ideal-measure(2, small);
  }

  @include sassline-breakpoint(break-3) {
    @include sassline-ideal-measure(3, medium);
  }

  @include sassline-breakpoint(break-4) {
    @include sassline-ideal-measure(4, medium);
  }

  .sidenote {
    @include sassline-breakpoint(break-1) {
      padding-left: map-get($sassline-gutterwidths, medium);
      padding-right: map-get($sassline-gutterwidths, small);
      position: absolute;
      @include sassline-ideal-measure(1, small, false);
      @include sassline-ideal-measure(1, small, true, left);
    }

    @include sassline-breakpoint(break-2) {
      @include sassline-ideal-measure(2, small, false);
      @include sassline-ideal-measure(2, small, true, left);
    }

    @include sassline-breakpoint(break-3) {
      padding-left: map-get($sassline-gutterwidths, large);
      @include sassline-ideal-measure(3, medium, false);
      @include sassline-ideal-measure(3, medium, true, left);
    }

    @include sassline-breakpoint(break-4) {
      padding-right: map-get($sassline-gutterwidths, medium);
      @include sassline-ideal-measure(4, medium, false);
      @include sassline-ideal-measure(4, medium, true, left);
    }
  }
}
